
.header-title {
  font-size: 2rem;
  margin-left: 0rem;
}

.logo {
  flex-grow: 0;
  margin-left: 1rem;
}

.small-margin-left {
  margin-left: 4em;
  width: 100%;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  margin: 25px 0;
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .section-title {
    margin: 10px 0;
    font-size: 1.5rem;
  }

  .small-margin-left {
    margin: 0 1rem;
    width: 50%;
  }

  .header-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .small-margin-left {
    margin: 0 2rem;
    width: 100%;
  }
}
